<h1> <%= @article.header %> </h1>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.tag, tag_path(tag) %>
  <% end %>
</p>

<p> <%= @article.article %> </p>

<h6> <%= link_to "Delete Entry", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %></h6>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Blog Entries", articles_path %>

